body {
  max-width: 100%;
  max-height: 100%;
  font: 16px/1.2 'PT Sans', Arial, sans-serif;
  color: @main-text-color;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: @dark-grey;
}

.heading {
  h2 {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 700;
  }

  .subheading {
    font-size: 20px;
    font-weight: 500;
    color: #313841;
    margin-bottom: 25px;
  }
}

.section {
  padding-top: 150px;
  padding-bottom: 90px;

  @media (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

//Header
.header {
  width: 100%;
  height: @header-height;
  line-height: @header-line-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.2s ease;
  transform: translateZ(0); //fixed jumping header on scroll

  .navbar {
    border: none;
    background: transparent;
    margin-bottom: 0;

    .hamburger-menu {
      border: 0;
      background: none;

      @media (max-width: 767px) {
        margin-top: 16px;
      }

      .icon-bar {
        width: 30px;
        height: 4px;
        background: @dark-grey;
      }
    }

    .hide-menu {
      border: none;
      box-shadow: none;

      &.in,
      &.collapsing {
        background: @orange;
        box-shadow: 0 2px 4px @orange;
      }
    }

    .menu-toggle {
      .logo {
        font-size: 30px;
        font-weight: bold;
        color: @dark-grey;
        padding-left: 55px;
        margin-left: 0;
        position: relative;
        height: @header-height;
        line-height: @header-line-height;
        transition: all 0.2s ease;

        @media (max-width: 767px) {
          margin-left: 15px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 43px;
          height: 43px;
          background: url("../images/logo.png");
        }
      }
    }

    .main-nav {
      & > li {
        & > a {
          font-size: 22px;
          font-weight: bold;
          text-transform: capitalize;
          color: @dark-grey;
          line-height: @header-line-height;
          transition: all 0.2s ease;
          background: transparent;
          padding-right: 40px;
          padding-left: 40px;

          @media (max-width: 992px) {
            padding-right: 30px;
            padding-left: 30px;
          }

          @media (max-width: 480px) {
            font-size: 18px;
            padding: 10px;
          }

          &:active,
          &:focus,
          &:hover {
            background: transparent;
            color: @dark-grey;
            text-decoration: underline;
          }
        }

        &.active {
          a,
          a:focus,
          a:hover {
            color: @dark-grey;
            background: transparent;
          }
        }
      }
    }
  }

  &.sticky {
    height: @header-height-small;
    line-height: @header-line-height-small;
    background: @orange;
    box-shadow: 0 2px 4px @orange;

    .menu-toggle {
      .logo {
        height: @header-height-small;
        line-height: 38px;
      }
    }

    .main-nav {
      & > li {
        & > a {
          line-height: @header-line-height-small;
        }
      }
    }
  }
}

//Slider section
.slider-block {
  padding-bottom: 0;
  background: @orange;
  color: #555;

  .slider {
    padding-bottom: 80px;

    .carousel-control {
      opacity: 0;
    }

    .carousel-indicators {
      li {
        width: 12px;
        height: 12px;
        margin: 0;
        border: none;
        background: rgba(255, 255, 255, 0.5);

        &.active {
          background: white;
        }
      }
    }
  }

  .heading {
    h2 {
      font-weight: bold;
    }
  }

  .text-block {
    margin-bottom: 40px;
  }

  .img-block {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .os-icon {
    margin-left: 0;

    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 30px;
    }

    .fa {
      display: inline-block;
      position: relative;
      margin-right: 30px;
      font-size: 44px;
      color: @dark-grey;

      &:last-child {
        @media (max-width: 767px) {
          margin-right: 0;
        }
      }
    }
  }
}

//Features section
.features {
  background: white;

  .heading {
    margin-bottom: 90px;

    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  .features-item {
    padding-left: 70px;
    margin-bottom: 60px;
    position: relative;

    @media (max-width: 767px) {
      margin-left: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 55px;
      height: 50px;
      top: 17px;
      left: 0;

      @media (max-width: 992px) {
        top: 0;
      }
    }

    &.responsive {
      &:before {
        background: url("../images/features-icons.png") 11px 0;
      }
    }

    &.psd {
      &:before {
        background: url("../images/features-icons.png") -40px 0;
      }
    }

    &.icons {
      &:before {
        background: url("../images/features-icons.png") -98px 0;
      }
    }

    &.code {
      &:before {
        background: url("../images/features-icons.png") -161px 0;
      }
    }

    &.email {
      &:before {
        background: url("../images/features-icons.png") -225px 0;
      }
    }

    &.download {
      &:before {
        background: url("../images/features-icons.png") -281px 0;
      }
    }
  }
}

//Support section
.support {
  background: @dark-grey;
  .heading {
    h2 {
      color: @orange;
    }

    .subheading {
      color: @main-text-color;
    }
  }

  form {
    margin-bottom: 70px;
  }

  .input-block {
    @media (max-width: 992px) {
      display: block;
    }
  }

  .email-field {
    font-size: 16px;
    height: 50px;
    width: 580px;

    @media (max-width: 992px) {
      width: 100%;
      margin-bottom: 20px;
    }

    &:active,
    &:focus,
    &:visited {
      outline: none;
      border: none;
    }
  }

  .button-submit {
    color: @dark-grey;
    font-size: 16px;
    height: 50px;
    margin-left: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    background: @orange;
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: all 0.2s ease;

    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      background: @orange;
      outline: none;
      box-shadow: 0 0 15px #dec104;
    }
  }

  .social-icons {
    li {
      margin-right: 30px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }

      .icon-item {
        display: block;
        width: 39px;
        height: 36px;

        &.facebook-icon {
          background: url("../images/social-icons.png");
        }

        &.twitter-icon {
          background: url("../images/social-icons.png") -68px;
        }

        &.google-plus-icon {
          background: url("../images/social-icons.png") -134px;
        }

        &.pinterest-icon {
          background: url("../images/social-icons.png") -201px;
        }
      }
    }
  }
}

//Footer
.footer {
  background: @dark-grey;
  color: white;

  a {
    color: white;
    transition: all 0.2s ease;

    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  ul {
    display: inline-block;
    padding: 0;
    padding-right: 90px;
    vertical-align: top;

    @media (max-width: 992px) {
      padding-right: 70px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      padding-right: 40px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  address {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    span {
      text-transform: uppercase;
    }
  }
}